# Presentation version

In [1]:
import os, sys
import pandas as pd
import numpy as np

"""
Preprocessing the data

"""

DATA_DIR = "../data/"
RAW_DATA_FILE = DATA_DIR + "data.csv"

# Check if data dir or file exist
if not os.path.exists(DATA_DIR) \
    or not os.path.exists(RAW_DATA_FILE):
    print(
        "CANNOT find {} or {}".format(DATA_DIR, RAW_DATA_FILE),
        file=sys.stderr
    )
    sys.exit()

# Load csv data
raw_data = pd.read_csv(RAW_DATA_FILE)

# Columns that we think useful
COLS = [
            "property_id",
            "transaction_amount",
            "loan_amount",
            "lender",
            "transaction_date",
            "property_type",
            "year_built",
            "sqft"
        ]

data = raw_data[COLS]

print(
    "\n=======================\n"
    "    DATA Overview\n"
    "=======================\n"
    "Size of Data: {:d}\n"
    "Zero Transction Amount {:d}\n"
    "Zero Loan Amount {:d}\n"
    "Num. of Lenders:{:d}, \n\t Num. of \"* Undisclosed\" {:d}\n"
    "Num. of property_type {:d}\n"
    .format(
        data.shape[0],
        data.transaction_amount.value_counts()[0],
        data.loan_amount.value_counts()[0],
        data.lender.nunique(),
        data.lender.value_counts()['* Undisclosed'],
        data.property_type.nunique()
    )
)

"""
Now draw plot to look at different distribution of data. Using NumPy and Matplotlib.
    Transaction amount: ta
    Loan amount: la
    Lender: ld (might have long tail)
    Transaction date: td
    Property type: pt
    Year built: yb
    Square foot: sf
"""

# Transaction amount:
np_ta = data.as_matrix(columns=["transaction_amount"])\
            .transpose()

ta_min, ta_max = np.amin(np_ta), np.amax(np_ta)

=======================
    DATA Overview
=======================
Size of Data: 158800
Zero Transction Amount 471
Zero Loan Amount 109618
Num. of Lenders:10074,
	 Num. of "* Undisclosed" 110687
Num. of property_type 12

## Transaction Amount

In [2]:
ta_max, ta_min

(231000000, 0)

In [3]:
hist_ta, edge_ta = np.histogram(np_ta, bins=[x for x in range(ta_min, ta_max, 1000000)])
print(hist_ta)
print(edge_ta)
len(hist_ta)

print(sum(hist_ta[:11]) / sum(hist_ta))

[150568   5919   1131    385    225    116     90     86     43     33
     33      9     22      9     22     11     12      4      8      1
      8      3      4      0      3      5      0      0      4      0
      1      0      7      2      0      3      3      1      1      0
      0      0      0      2      2      0      4      0      0      0
      0      0      0      0      0      0      3      0      0      0
      0      0      4      0      0      3      0      0      3      0
      0      0      1      0      0      0      0      0      0      0
      0      0      1      0      0      0      0      0      0      0
      1      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      1      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      2      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0]
[        0   1000000   2000000   3000000   4000000   5000000   6000000
   7000000   8000000   9000000  10000000  11000000  12000000  13000000
  14000000  15000000  16000000  17000000  18000000  19000000  20000000
  21000000  22000000  23000000  24000000  25000000  26000000  27000000
  28000000  29000000  30000000  31000000  32000000  33000000  34000000
  35000000  36000000  37000000  38000000  39000000  40000000  41000000
  42000000  43000000  44000000  45000000  46000000  47000000  48000000
  49000000  50000000  51000000  52000000  53000000  54000000  55000000
  56000000  57000000  58000000  59000000  60000000  61000000  62000000
  63000000  64000000  65000000  66000000  67000000  68000000  69000000
  70000000  71000000  72000000  73000000  74000000  75000000  76000000
  77000000  78000000  79000000  80000000  81000000  82000000  83000000
  84000000  85000000  86000000  87000000  88000000  89000000  90000000
  91000000  92000000  93000000  94000000  95000000  96000000  97000000
  98000000  99000000 100000000 101000000 102000000 103000000 104000000
 105000000 106000000 107000000 108000000 109000000 110000000 111000000
 112000000 113000000 114000000 115000000 116000000 117000000 118000000
 119000000 120000000 121000000 122000000 123000000 124000000 125000000
 126000000 127000000 128000000 129000000 130000000 131000000 132000000
 133000000 134000000 135000000 136000000 137000000 138000000 139000000
 140000000 141000000 142000000 143000000 144000000 145000000 146000000
 147000000 148000000 149000000 150000000 151000000 152000000 153000000
 154000000 155000000 156000000 157000000 158000000 159000000 160000000
 161000000 162000000 163000000 164000000 165000000 166000000 167000000
 168000000 169000000 170000000 171000000 172000000 173000000 174000000
 175000000 176000000 177000000 178000000 179000000 180000000 181000000
 182000000 183000000 184000000 185000000 186000000 187000000 188000000
 189000000 190000000 191000000 192000000 193000000 194000000 195000000
 196000000 197000000 198000000 199000000 200000000 201000000 202000000
 203000000 204000000 205000000 206000000 207000000 208000000 209000000
 210000000 211000000 212000000 213000000 214000000 215000000 216000000
 217000000 218000000 219000000 220000000 221000000 222000000 223000000
 224000000 225000000 226000000 227000000 228000000 229000000 230000000]
0.998929464291

## Filtering Constraints:
1. transaction amount < 1,300,000

## Loan amount

In [4]:
np_la = data.as_matrix(columns=['loan_amount'])\
            .transpose()

In [5]:
la_min, la_max = np.amin(np_la), np.amax(np_la)
print(la_min, la_max)

0.0 46499900.0

In [6]:
hist_la, edge_la = np.histogram(np_la, bins=[x for x in range(int(la_min), int(la_max), 100000)])
print(hist_la)
print(edge_la)

print("\nCount of non-zero entries:")
print(np.count_nonzero(np_la))

print("\nProportion of non-zero terms in loan amount")
print(np.count_nonzero(np_la) / np_la.shape[1])

[114238  12164  11495   7549   5297   2480   1656    889    702    467
    423    231    179    149    104    122     65     70     53     39
     60     36     27     19     25     30     15     15      8     10
     24      7     11      8      2     14      6      4      8      2
      6      3      6      4      3      4      4      2      4      0
     13      1      2      0      0      2      4      0      1      1
      2      1      0      1      0      0      2      0      0      0
      0      0      0      0      0      1      0      1      2      0
      2      0      0      1      0      1      0      0      0      0
      1      0      0      1      0      2      0      0      0      0
     10      0      2      0      0      1      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      1      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      1      0      0      0      0      0      0      0
      1      0      0      0      0      0      0      0      0      0
      1      0      0      0      0      0      0      0      1      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0      0      0      0      0      0      0
      0      0      0      0]
[       0   100000   200000   300000   400000   500000   600000   700000
   800000   900000  1000000  1100000  1200000  1300000  1400000  1500000
  1600000  1700000  1800000  1900000  2000000  2100000  2200000  2300000
  2400000  2500000  2600000  2700000  2800000  2900000  3000000  3100000
  3200000  3300000  3400000  3500000  3600000  3700000  3800000  3900000
  4000000  4100000  4200000  4300000  4400000  4500000  4600000  4700000
  4800000  4900000  5000000  5100000  5200000  5300000  5400000  5500000
  5600000  5700000  5800000  5900000  6000000  6100000  6200000  6300000
  6400000  6500000  6600000  6700000  6800000  6900000  7000000  7100000
  7200000  7300000  7400000  7500000  7600000  7700000  7800000  7900000
  8000000  8100000  8200000  8300000  8400000  8500000  8600000  8700000
  8800000  8900000  9000000  9100000  9200000  9300000  9400000  9500000
  9600000  9700000  9800000  9900000 10000000 10100000 10200000 10300000
 10400000 10500000 10600000 10700000 10800000 10900000 11000000 11100000
 11200000 11300000 11400000 11500000 11600000 11700000 11800000 11900000
 12000000 12100000 12200000 12300000 12400000 12500000 12600000 12700000
 12800000 12900000 13000000 13100000 13200000 13300000 13400000 13500000
 13600000 13700000 13800000 13900000 14000000 14100000 14200000 14300000
 14400000 14500000 14600000 14700000 14800000 14900000 15000000 15100000
 15200000 15300000 15400000 15500000 15600000 15700000 15800000 15900000
 16000000 16100000 16200000 16300000 16400000 16500000 16600000 16700000
 16800000 16900000 17000000 17100000 17200000 17300000 17400000 17500000
 17600000 17700000 17800000 17900000 18000000 18100000 18200000 18300000
 18400000 18500000 18600000 18700000 18800000 18900000 19000000 19100000
 19200000 19300000 19400000 19500000 19600000 19700000 19800000 19900000
 20000000 20100000 20200000 20300000 20400000 20500000 20600000 20700000
 20800000 20900000 21000000 21100000 21200000 21300000 21400000 21500000
 21600000 21700000 21800000 21900000 22000000 22100000 22200000 22300000
 22400000 22500000 22600000 22700000 22800000 22900000 23000000 23100000
 23200000 23300000 23400000 23500000 23600000 23700000 23800000 23900000
 24000000 24100000 24200000 24300000 24400000 24500000 24600000 24700000
 24800000 24900000 25000000 25100000 25200000 25300000 25400000 25500000
 25600000 25700000 25800000 25900000 26000000 26100000 26200000 26300000
 26400000 26500000 26600000 26700000 26800000 26900000 27000000 27100000
 27200000 27300000 27400000 27500000 27600000 27700000 27800000 27900000
 28000000 28100000 28200000 28300000 28400000 28500000 28600000 28700000
 28800000 28900000 29000000 29100000 29200000 29300000 29400000 29500000
 29600000 29700000 29800000 29900000 30000000 30100000 30200000 30300000
 30400000 30500000 30600000 30700000 30800000 30900000 31000000 31100000
 31200000 31300000 31400000 31500000 31600000 31700000 31800000 31900000
 32000000 32100000 32200000 32300000 32400000 32500000 32600000 32700000
 32800000 32900000 33000000 33100000 33200000 33300000 33400000 33500000
 33600000 33700000 33800000 33900000 34000000 34100000 34200000 34300000
 34400000 34500000 34600000 34700000 34800000 34900000 35000000 35100000
 35200000 35300000 35400000 35500000 35600000 35700000 35800000 35900000
 36000000 36100000 36200000 36300000 36400000 36500000 36600000 36700000
 36800000 36900000 37000000 37100000 37200000 37300000 37400000 37500000
 37600000 37700000 37800000 37900000 38000000 38100000 38200000 38300000
 38400000 38500000 38600000 38700000 38800000 38900000 39000000 39100000
 39200000 39300000 39400000 39500000 39600000 39700000 39800000 39900000
 40000000 40100000 40200000 40300000 40400000 40500000 40600000 40700000
 40800000 40900000 41000000 41100000 41200000 41300000 41400000 41500000
 41600000 41700000 41800000 41900000 42000000 42100000 42200000 42300000
 42400000 42500000 42600000 42700000 42800000 42900000 43000000 43100000
 43200000 43300000 43400000 43500000 43600000 43700000 43800000 43900000
 44000000 44100000 44200000 44300000 44400000 44500000 44600000 44700000
 44800000 44900000 45000000 45100000 45200000 45300000 45400000 45500000
 45600000 45700000 45800000 45900000 46000000 46100000 46200000 46300000
 46400000]

Count of non-zero entries:
49182

Proportion of non-zero terms in loan amount
0.3097103274559194

## Lender

In [7]:
np_ld = data.as_matrix(columns=['lender'])\
            .transpose()
print("lenders in total", np_ld.size)
print("unique lenders", np.unique(np_ld).size)

values,counts = np.unique(np_ld,return_counts=True)
ind=np.argmax(counts)
print("Most Common", values[ind])
print("Count of that", counts[ind])

lenders in total 158800
unique lenders 10074
Most Common * Undisclosed
Count of that 110687

## Transaction Date

In [8]:
np_td = data.as_matrix(columns=['transaction_date'])\
            .transpose()
np_td.sort()
np_td
print(np_td[0])

from datetime import datetime
for td in np_td[0]:
    dt_object = datetime.strptime(td, "%Y-%m-%d")
    # print(dt_object.isoweekday())
    # In iso weekday, 1 is Monday, 7 is Sunday

['2012-01-03' '2012-01-03' '2012-01-03' ..., '2017-12-05' '2017-12-05'
 '2017-12-07']

## Property Type

In [9]:
np_pt = data.as_matrix(columns=['property_type'])\
            .transpose()
pt_values, pt_counts = np.unique(np_pt, return_counts=True)
print(pt_values)
print(pt_counts)
print("Sum:", sum(pt_counts))

['RAPT' 'RCON' 'RCOO' 'RDUP' 'RMFD' 'RMOB' 'RMSC' 'RQUA' 'RSFR' 'RTIM'
 'RTRI' 'VRES']
[  1626  17255     33   3875   1482   2063   1452   1020 124417     15
    887   4675]
Sum: 158800

## Year built

In [10]:
np_yb = data.as_matrix(columns=['year_built'])\
            .transpose()
print(np.amin(np_yb), np.amax(np_yb))
print("Non-zero built year", np.count_nonzero(np_yb))
yb_values, yb_counts = np.unique(np_yb, return_counts=True)
print(yb_values)
print(yb_counts)

0 2017
Non-zero built year 149564
[   0 1801 1808 1850 1860 1865 1870 1871 1873 1874 1875 1876 1877 1878 1879
 1880 1881 1882 1883 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895
 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909 1910
 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925
 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940
 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955
 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970
 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985
 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017]
[9236   16    1    2    1    1    9    1    2    1    5    1    1    2    1
   10    1    1    1   16    4    1   10    8   99    5    8   10    7   64
   19   12   36   10  535   79   66   96  120  229  212  219  324  194  606
  255  441  321  246  350  221  130  267  225  851  577 1126 1223 1352 1376
  981  759  867  563  815  291  236  148  172  420  478  547  793  905 1430
 1113  852  441  683  700 1235 2146 2144 1853 3069 2276 2472 2684 3194 3780
 2900 2447 2227 2724 2978 2324 2210 2296 2471 1853 1164  969 1265 1235 1610
 2029 2233 2262 1831 1432 1768 2432 2469 2766 2603 1761 1127 1381 1974 1954
 2124 2089 2174 2485 2404 1394 1064  925  916  833  782  759  921  982 1191
 1258 1324 1701 2092 2269 2079 1269  579  299  215  143  362  903 1118 1253
  813   95]

## Sqrt

In [19]:
np_sr = data.as_matrix(columns=['sqft'])\
            .transpose()
print(np_sr)
print(np.amin(np_sr), np.amax(np_sr))
print("# of Non-zero square foot", np.count_nonzero(np_sr))
print("# of Zero Square foot", np_sr.size - np.count_nonzero(np_sr))

[[2682 1452 1891 ..., 1296 1476 2096]]
0 9621009
# of Non-zero square foot 152158
# of Zero Square foot 6642